<section class="singleFruitBox">
        <div>
            <img src="./assets/img/fruits/{{fruit.img}}" alt="" srcset="">
        </div>
        <div>
            <h2>  {{fruit.name}}</h2>
            <div>
                <p><b>Bewertung:</b></p>
                <div>
                    @for (count of counter; track count) {
                        @switch (true) {
                            @case (fruit.stars >= count) {
                                <img src="./assets/img/stars/star.svg" alt="" srcset="">
                            }
                            @case (fruit.stars >= count - 0.5) {
                                <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                            }
                            @default {
                                <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                            }
                        }
                        <!-- @if(fruit.stars >= count){
                            <img src="./assets/img/stars/star.svg" alt="" srcset="">
                        }
                        @else if(fruit.stars >= count - 0.5)
                        {
                            <img src="./assets/img/stars/star-half.svg" alt="" srcset="">
                        }
                        @else {
                            <img src="./assets/img/stars/star-empty.svg" alt="" srcset="">
                        } -->
                    }

                    <!-- <p [ngStyle]="{'color': fruit.stars > 4 ? fontColorR : fontColorY}">({{fruit.stars}})</p> -->
                   
                    <!-- @if(fruit.stars > 4){
                        <p [ngStyle]="{'color':fontColorG}">({{fruit.stars}})</p>
                    }
                    @if(fruit.stars > 2 && fruit.stars < 4){
                        <p [ngStyle]="{'color':fontColorY}">({{fruit.stars}})</p>
                    }
                    @if(fruit.stars < 2){
                        <p [ngStyle]="{'color':fontColorR, 'background-color':'black'}">({{fruit.stars}})</p>
                    } -->
                    
                    <!-- <p [ngClass]="{'fontColorBad' : fruit.stars < 2,'fontColorDecent' : fruit.stars > 2 && fruit.stars < 4,'fontColorGood' : fruit.stars > 4}">({{fruit.stars}})</p> -->
                    <p>({{fruit.stars}})</p>
                </div>
            </div>
            <div><b>Art:</b><br>{{fruit.genus}}</div>
            <div><b>Beschreibung:</b><br>{{fruit.description}}</div>
            <div>
                <div>
                    @for (review of fruit.reviews; track $index) {
                    <div><b>{{review.name}}:</b><br>{{review.text}}</div>
                    }@empty {
                    no comments yet...
                    }
                </div>
                <div><input [(ngModel)]="inputData" type="text"><button><img (click)="sendInputData()" src="./assets/img/arrow-35-32.png" alt="" srcset=""></button>
                </div>
            </div>
        </div>
    </section>